*{
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.header {
  text-align: left;
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}




/* Style the topnav links */


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: right;
  width: 70%;
  height: fit-content;
  /* background-color: black; */
  padding: 20px;
}

/* TOTAL ATTENDENCE  */ 
#number1{
	/* background-color: #03BFCB; */
  font-family: Georgia;
  width: fit-content;
  text-align: center;
	font-size: 1vw;
	font-weight: bold;
  color: #0d172a;
	padding: 0 0 0 5px;
}
.box1{
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 0 ;
  width: fit-content;
  height: auto;
  /* background-color: black; */
  position: relative;
}
.outer1{

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  padding: 6px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255,255,255,0.7);

}

.inner1{

  background-color: white;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
  inset -4px -4px 6px -1px rgba(255,255,255,0.7),
  -0.5px -0.5px 0px rgba(255,255,255,1),
  0.5px 0.5px 0px rgba(0,0,0,0.15),
  0px 12px 10px -10px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.a2{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 1.5vw;
  stroke-dasharray: 473;
  stroke-dashoffset: 473;
  animation: anim 2s linear forwards;
}
.a1{
  /* background-color: #03BFCB; */
  position: absolute;
  top: 2px;
  width: 11vw;
  height: 11vw;

}

@keyframes anim{
  100%{
    stroke-dashoffset: 80;
  }
}

/* END */

.att-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
  padding : 10px ;
	position: relative;
	
}

.att1-container {
  width: fit-content;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
  padding : 10px;
	position: relative;
	
}
#number{
	/* background-color: #03BFCB; */
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  text-align: center;
	font-size: 0.7vw;
	font-weight: bold;
  color: #0d172a;
	padding: 0 0 0 5px;
}
.box{
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: 10px ;
  width: fit-content;
  height: auto;
  /* background-color: white; */
  position: relative;
}

.outer{

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  padding: 6px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255,255,255,0.7);

}

.inner{

  background-color: white;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
  inset -4px -4px 6px -1px rgba(255,255,255,0.7),
  -0.5px -0.5px 0px rgba(255,255,255,1),
  0.5px 0.5px 0px rgba(0,0,0,0.15),
  0px 12px 10px -10px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}



circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 0.5vw;
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  animation: anime 2s linear forwards;
}

svg{
  /* background-color: #03BFCB; */
  position: absolute;
  top: 10px;
  width: 5vw;
  height: 5vw;
}
@keyframes anime{
  100%{
    stroke-dashoffset: 0;
  }
}


.b1{
  fill: none;stroke: url(#GradientColor);stroke-width: 0.5vw;stroke-dasharray: 210;stroke-dashoffset: 210;
  animation: anim1 2s linear forwards;
}
@keyframes anim1{
  100%{
    stroke-dashoffset: 12.6;
  }
}
.b2{
  fill: none;stroke: url(#GradientColor);stroke-width: 0.5vw;stroke-dasharray: 210;stroke-dashoffset: 210;
  animation: anim2 2s linear forwards;
}
@keyframes anim2{
  100%{
    stroke-dashoffset: 21;
  }
}
.b3{
  fill: none;stroke: url(#GradientColor);stroke-width: 0.5vw;stroke-dasharray: 210;stroke-dashoffset: 210;
  animation: anim3 2s linear forwards;
}
@keyframes anim3{
  100%{
    stroke-dashoffset: 27.3;
  }
}
.b4{
  fill: none;stroke: url(#GradientColor);stroke-width: 0.5vw;stroke-dasharray: 210;stroke-dashoffset: 210;
  animation: anim4 2s linear forwards;
}
@keyframes anim4{
  100%{
    stroke-dashoffset: 21;
  }
}
.b5{
  fill: none;stroke: url(#GradientColor);stroke-width: 0.5vw;stroke-dasharray: 210;stroke-dashoffset: 210;
  animation: anim5 2s linear forwards;
}
@keyframes anim5{
  100%{
    stroke-dashoffset: 10.1;
  }
}




/* Right column */
.rightcolumn {
  
  float: left;
  width: 25%;
  height: fit-content;
  /* background-color: black; */
  padding: 0;
}

/* Profile */
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.card-container {
  width: 100%;
	background-color: #112d32;
	border-radius: 20px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
  padding : 30px 10px 30px 30px;
	position: relative;
	
}

.card-container .name {
  display: inline-block;
	/* background-color: #03BFCB; */
	font-family: Montserrat;
	vertical-align: middle;
  width: 50%;
	font-size: 1.2vw;
	font-weight: bold;
	padding: 0 0 0 5px;
	

}

.card-container .round {
  display: inline-block;
	border: 1px solid #03BFCB;
	border-radius: 50%;
  width: 45%;
  flex: left;
	padding: 7px;
  vertical-align: middle;
  
}



/* Fake image */
.fakeimg {
  /* background-color: #aaa; */
  width: 50%;
  padding: 20px;
  float: left;
}



/* Add a card effect for articles */
.card {
  background-color: beige;
  width : 100%;
  padding: 20px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* Style the top navigation bar */
.topnav {

  /* background-color: black; */
  display: block;

  padding: 40px 100px;
  width:100%;
 }
.button{
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  border-radius: 1.5rem;
  background-color: #2e9cca;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 20px 0 40px;
  text-decoration: none;
  float: right;
  overflow: hidden;
  

}

.margin{
  margin : 10px;
  width : fit-content;
}



/* Buttons */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 600px) {
  .button-81 {
    font-size: 0.9rem;
    padding: 0.7rem 1.8rem;
  }
}





